h1 {
  background-color: gray;
  color: white;
  font-size: 3em;
  height: 2em;
  margin-bottom: 0;
  padding-left: 2%;
  padding-top: 2%;
  width: 100%;
}

nav {
  background-color: gray;
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: gray;
  border: none;
  color: white;
  cursor: copy;
  font-size: 1.5em;
  padding: 1%;
}

.selected {
  background-color: #615D5D;
  border-bottom: solid 4px red;
  font-size: 1.7em;
}

.hidden {
  display: none;
}

.all-courses-tab {
  background-color: #D1F2EB;
  display: flex;
  height: 150px;
  margin: auto;
  padding-left: 20%;
  position: relative;
  width: 50%;
}

a {
  align-self: center;
  font-size: 2em;
  text-decoration: none;
}

.close-banner {
  position: absolute;
  right: 5px;
  top: 5px;
}

.collections-tab {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collections-p1 {
  font-size: 1em;
}

.collections-p2 {
  display: inline;
  font-size: 0.5em;
  margin: auto;
  width: 25%;
}

.link-ac-tab-js {
  background-color: inherit;
  color: blue;
  font-size: inherit;
}

.wishlist-tab {
  align-content: center;
  display: flex;
}

.browse-courses {
  background-color: red;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.4);
  color: white;
  font-size: 1em;
  margin: 0 auto;
}

.archived-tab {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
